* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f9faf8;
}
header{
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

header .logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

header ul{
  display: flex;
  list-style: none;
}

header a{
  color: #e5e7eb;
  text-decoration: none;
  margin: 0 10px;
}

main {
  border: 1px solid red;
}

.hero {
  background-color: #1f2937;
  padding: 40px 0;
}

.hero .container{
  width: 75%;
  margin: 0 auto;
  display: flex;
}
.pres_text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0px 30px;  
}

.pres_text p {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 30px;
  width: 75%;
}

.hero .container img{
  width: 65%;
  margin: 0 40px;
}

.btn{
  background-color: #3882f6;
  color: #f9faf8;
  padding: 7px 27px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  margin: 5px 30px;
  border: none;
}